<h3><strong>Logged in as User: </strong><%= User.find(session[:user_id]).username %></h3>
<p><%= link_to "Logout", logout_user_path(), class: "btn btn-primary", method: :delete %></p>
<h1>Create new User</h1>
<%= render 'form' %>
